{
  "openapi": "3.0.0",
  "info": {
    "title": "Housing Inventory",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://www.hmislynk.com/housinginventory/rest/v2"
    }
  ],
  "paths": {
    "/housing-units": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "links",
                    "content",
                    "page"
                  ],
                  "example": {
                    "links": [
                      {
                        "rel": "first",
                        "href": "https://www.hmislynk.com/inventory-api/rest/housing-units/?page=0&size=2"
                      },
                      {
                        "rel": "self",
                        "href": "https://www.hmislynk.com/inventory-api/rest/housing-units/?page=0&size=2"
                      },
                      {
                        "rel": "next",
                        "href": "https://www.hmislynk.com/inventory-api/rest/housing-units/?page=1&size=2"
                      },
                      {
                        "rel": "last",
                        "href": "https://www.hmislynk.com/inventory-api/rest/housing-units/?page=20&size=2"
                      }
                    ],
                    "content": [
                      {
                        "inactive": false,
                        "housingInventoryId": "7a428e4e-d682-43ef-b2c7-383340ceb84e",
                        "bedsCurrent": 5,
                        "projectId": "3189abda-32bd-4330-8839-8c6f723f1e73",
                        "userId": "shubas",
                        "bedsCapacity": 6,
                        "familyUnit": false,
                        "inService": false,
                        "vacant": false,
                        "aliasName": "Test Name",
                        "project": {
                          "id": "3189abda-32bd-4330-8839-8c6f723f1e73",
                          "projectCommonName": "READ_TEST_PROJECT",
                          "projectName": "READ_TEST_PROJECT",
                          "schemaYear": "2014"
                        },
                        "links": [
                          {
                            "rel": "project",
                            "href": "/hmis-clientapi/rest/v2014/projects/3189abda-32bd-4330-8839-8c6f723f1e73"
                          }
                        ]
                      },
                      {
                        "inactive": false,
                        "housingInventoryId": "0144dd7c-a2df-4dec-8f57-a7afe45336c4",
                        "bedsCurrent": 8,
                        "projectId": "3189abda-32bd-4330-8839-8c6f723f1e73",
                        "userId": "shubas",
                        "bedsCapacity": 6,
                        "familyUnit": false,
                        "inService": false,
                        "vacant": false,
                        "project": {
                          "id": "3189abda-32bd-4330-8839-8c6f723f1e73",
                          "projectCommonName": "READ_TEST_PROJECT",
                          "projectName": "READ_TEST_PROJECT",
                          "schemaYear": "2014"
                        },
                        "links": [
                          {
                            "rel": "project",
                            "href": "/hmis-clientapi/rest/v2014/projects/3189abda-32bd-4330-8839-8c6f723f1e73"
                          }
                        ]
                      }
                    ],
                    "page": {
                      "size": 2,
                      "totalElements": 42,
                      "totalPages": 21,
                      "number": 0
                    }
                  },
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "required": [
                          "rel",
                          "href"
                        ],
                        "type": "object",
                        "properties": {
                          "rel": {
                            "type": "string"
                          },
                          "href": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "required": [
                          "inactive",
                          "housingInventoryId",
                          "bedsCurrent",
                          "projectId",
                          "userId",
                          "bedsCapacity",
                          "familyUnit",
                          "inService",
                          "vacant",
                          "links"
                        ],
                        "type": "object",
                        "properties": {
                          "inactive": {
                            "type": "boolean"
                          },
                          "housingInventoryId": {
                            "type": "string"
                          },
                          "bedsCurrent": {
                            "type": "integer"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "bedsCapacity": {
                            "type": "integer"
                          },
                          "familyUnit": {
                            "type": "boolean"
                          },
                          "inService": {
                            "type": "boolean"
                          },
                          "vacant": {
                            "type": "boolean"
                          },
                          "aliasName": {
                            "type": "string"
                          },
                          "project": {
                            "required": [
                              "projectName",
                              "id",
                              "schemaYear"
                            ],
                            "type": "object",
                            "properties": {
                              "projectName": {
                                "type": "string"
                              },
                              "projectcommonName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "schemaYear": {
                                "type": "string"
                              }
                            }
                          },
                          "links": {
                            "type": "array",
                            "items": {
                              "required": [
                                "rel",
                                "href"
                              ],
                              "type": "object",
                              "properties": {
                                "rel": {
                                  "type": "string"
                                },
                                "href": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "page": {
                      "required": [
                        "size",
                        "totalElements",
                        "totalPages",
                        "number"
                      ],
                      "type": "object",
                      "properties": {
                        "size": {
                          "type": "integer"
                        },
                        "totalElements": {
                          "type": "integer"
                        },
                        "totalPages": {
                          "type": "integer"
                        },
                        "number": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": " Unauthorized"
                  }
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errorMessage": "no housing inventory related to project id."
                  }
                }
              }
            }
          }
        },
        "description": "gets housing units",
        "operationId": "GET_housing-units",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "Filter the list of housing units by userId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Filter the list of housing units by projectId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vacant",
            "in": "query",
            "description": "Filter the list of housing units by vacant status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "inactive",
            "in": "query",
            "description": "Filter the list of housing units by inactive status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of records in response.",
            "schema": {
              "default": 30,
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ]
      }
    },
    "/housing-units/{housing_unit_uuid}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "dateCreated": "09-28-2016 09:43:38.317",
                      "dateUpdated": "09-28-2016 09:43:38.317",
                      "projectGroupCode": "PG0001",
                      "inactive": false,
                      "housingInventoryId": "620ef25c-c9db-41fd-b799-fc3691f0d3b4",
                      "bedsCurrent": 2,
                      "projectId": "3189abda-32bd-4330-8839-8c6f723f1e73",
                      "userId": "620ef25c-c9db-41fd-b799-fc3691f0d3b4",
                      "bedsCapacity": 5,
                      "familyUnit": false,
                      "inService": false,
                      "vacant": false,
                      "aliasName": "test name",
                      "schemaYear": 2014,
                      "project": {
                        "id": "3189abda-32bd-4330-8839-8c6f723f1e73",
                        "projectcommonname": "READ_TEST_PROJECT",
                        "projectname": "READ_TEST_PROJECT",
                        "schemaYear": "2014"
                      },
                      "links": [
                        {
                          "rel": "project",
                          "href": "/hmis-clientapi/rest/v2014/projects/3189abda-32bd-4330-8839-8c6f723f1e73"
                        }
                      ]
                    }
                  ],
                  "type": "array",
                  "items": {
                    "required": [
                      "inactive",
                      "housingInventoryId",
                      "bedsCurrent",
                      "projectId",
                      "userId",
                      "bedsCapacity",
                      "familyUnit",
                      "inService",
                      "vacant",
                      "aliasName"
                    ],
                    "type": "object",
                    "properties": {
                      "inactive": {
                        "type": "boolean"
                      },
                      "housingInventoryId": {
                        "type": "string"
                      },
                      "bedsCurrent": {
                        "type": "integer"
                      },
                      "projectId": {
                        "type": "string"
                      },
                      "userId": {
                        "type": "string"
                      },
                      "bedsCapacity": {
                        "type": "integer"
                      },
                      "familyUnit": {
                        "type": "boolean"
                      },
                      "inService": {
                        "type": "boolean"
                      },
                      "vacant": {
                        "type": "boolean"
                      },
                      "aliasName": {
                        "type": "string"
                      },
                      "project": {
                        "type": "object",
                        "properties": {
                          "projectName": {
                            "type": "string"
                          },
                          "projectcommonName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "schemaYear": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "projectName",
                          "projectcommonName",
                          "id",
                          "schemaYear"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": " Unauthorized"
                  }
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "errorMessage": "Housing unit not found."
                  }
                }
              }
            }
          }
        },
        "description": "retrieves inventory  details.",
        "operationId": "GET_housing-units-housing_unit_uuid"
      },
      "parameters": [
        {
          "name": "housing_unit_uuid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/projects/{projectid}/eligibilityrequirements": {
      "post": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "eligibilityRequirementId": "f580935c-01e0-4d51-9b8d-7590bf204058",
                  "requirements": [
                    {
                      "name": "servesSingles",
                      "value": " != true"
                    },
                    {
                      "name": "servesHouseholdWithChildren",
                      "value": " == false"
                    },
                    {
                      "name": "incomeRequirement",
                      "value": " > 9 & <20"
                    },
                    {
                      "name": "gender",
                      "value": "== 1 || == 3 "
                    },
                    {
                      "name": "income",
                      "value": " >10 || < 50"
                    },
                    {
                      "name": "zipCode",
                      "value": "= 50050 && = 50532"
                    },
                    {
                      "name": "monthsHomelessPastThreeYears",
                      "value": " ( == 3 || ==4) && ( > 5 )"
                    },
                    {
                      "name": "type",
                      "value": " == \"sick\""
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/{\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"requirements\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\"\n          },\n          \"value\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"name\",\n          \"value\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"requirements\"\n  ]\n}\n"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "error": [
                    {
                      "message": "Minimum Income must be greater than or equal to 0"
                    },
                    {
                      "message": "Maximum Age must be greater than 0"
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/{\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"error\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"message\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"message\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"error\"\n  ]\n}\n"
                }
              }
            }
          }
        },
        "description": "To create an eligibility requirment.\nThe following operators can be used for \"value\" field.\n  1) Relational operators : equal (==, =), not equal (!=), less than (<), less than or equal (<= ), greater than (>), and greater than or equal (>=).\n  2) Logical operators : and (&&,&), or(||).\n",
        "operationId": "POST_projects-projectid-eligibilityrequirements",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "requirements": [
                  {
                    "name": "servesSingles",
                    "value": " != true"
                  },
                  {
                    "name": "servesHouseholdWithChildren",
                    "value": " == false"
                  },
                  {
                    "name": "incomeRequirement",
                    "value": " > 9 & <20"
                  },
                  {
                    "name": "gender",
                    "value": "== 1 || == 3 "
                  },
                  {
                    "name": "income",
                    "value": " >10 || < 50"
                  },
                  {
                    "name": "zipCode",
                    "value": "= 50050 && = 50532"
                  },
                  {
                    "name": "type",
                    "value": " == \"sick\""
                  },
                  {
                    "name": "monthsHomelessPastThreeYears",
                    "value": " ( == 3 || ==4) && ( > 5 )"
                  },
                  {
                    "name": "residencePrior",
                    "value": "==1"
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/{\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"servesSingles\": {\n      \"type\": \"boolean\"\n    },\n    \"servesHouseholdWithChildren\": {\n      \"type\": \"boolean\"\n    },\n    \"incomeRequirement\": {\n      \"type\": \"boolean\"\n    },\n    \"alcoholAbuse\": {\n      \"type\": \"boolean\"\n    },\n    \"bothAlcoholAndDrugAbuse\": {\n      \"type\": \"boolean\"\n    },\n    \"chronicHealthCondition\": {\n      \"type\": \"boolean\"\n    },\n    \"developmental\": {\n      \"type\": \"boolean\"\n    },\n    \"drugAbuse\": {\n      \"type\": \"boolean\"\n    },\n    \"mentalHealthProblem\": {\n      \"type\": \"boolean\"\n    },\n    \"type\": {\n      \"type\": \"string\"\n    },\n    \"gender\": {\n      \"type\": \"integer\"\n    },\n    \"minAge\": {\n      \"type\": \"integer\"\n    },\n    \"maxAge\": {\n      \"type\": \"integer\"\n    },\n    \"minimumIncome\": {\n      \"type\": \"integer\"\n    },\n    \"maximumIncome\": {\n      \"type\": \"integer\"\n    },\n    \"zipCode\": {\n      \"type\": \"string\"\n    },\n    \"disability\": {\n      \"type\": \"string\"\n    },\n    \"chronicallyHomeless\": {\n      \"type\": \"string\"\n    },\n    \"race\": {\n      \"type\": \"string\"\n    },\n    \"ethnicity\": {\n      \"type\": \"string\"\n    },\n    \"veteranStatus\": {\n      \"type\": \"string\"\n    },\n    \"housingStatus\": {\n      \"type\": \"string\"\n    },\n    \"monthsHomelessPastThreeYears\": {\n      \"type\": \"string\"\n    },\n    \"residencePrior\": {\n      \"type\": \"string\"\n    }\n  }\n}\n"
              }
            }
          },
          "required": true
        }
      },
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "links": [
                    {
                      "rel": "self",
                      "href": "http://localhost:8080/inventory-api/projects/893ecb78-84be-11e6-ae22-56b6b6499611/eligibilityrequirements"
                    }
                  ],
                  "content": [
                    {
                      "eligibilityRequirementId": "0effc53e-cd9a-48b1-af22-e90b7d860e77",
                      "projectId": "893ecb78-84be-11e6-ae22-56b6b6499611",
                      "requirements": [
                        {
                          "name": "servesSingles",
                          "value": " != true"
                        },
                        {
                          "name": "servesHouseholdWithChildren",
                          "value": " == false"
                        },
                        {
                          "name": "incomeRequirement",
                          "value": " > 9 & <20"
                        },
                        {
                          "name": "gender",
                          "value": "== 1 or == 3 "
                        },
                        {
                          "name": "income",
                          "value": " >10 || < 50"
                        },
                        {
                          "name": "zipCode",
                          "value": "= 50050 and = 50532"
                        },
                        {
                          "name": "monthsHomelessPastThreeYears",
                          "value": " ( == 3 || ==4) && ( > 5 )"
                        },
                        {
                          "name": "type",
                          "value": " == \"sick\""
                        }
                      ],
                      "links": []
                    }
                  ],
                  "page": {
                    "size": 20,
                    "totalElements": 1,
                    "totalPages": 1,
                    "number": 0
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/{\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"links\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"rel\": {\n            \"type\": \"string\"\n          },\n          \"href\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"rel\",\n          \"href\"\n        ]\n      }\n    },\n    \"content\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"type\": {\n            \"type\": \"string\"\n          },\n          \"gender\": {\n            \"type\": \"string\"\n          },\n          \"servesSingles\": {\n            \"type\": \"boolean\"\n          },\n          \"servesHouseholdWithChildren\": {\n            \"type\": \"boolean\"\n          },\n          \"minAge\": {\n            \"type\": \"integer\"\n          },\n          \"maxAge\": {\n            \"type\": \"integer\"\n          },\n          \"incomeRequirement\": {\n            \"type\": \"boolean\"\n          },\n          \"minimumIncome\": {\n            \"type\": \"integer\"\n          },\n          \"maximumIncome\": {\n            \"type\": \"integer\"\n          },\n          \"zipCode\": {\n            \"type\": \"string\"\n          },\n          \"disability\": {\n            \"type\": \"string\"\n          },\n          \"alcoholAbuse\": {\n            \"type\": \"boolean\"\n          },\n          \"bothAlcoholAndDrugAbuse\": {\n            \"type\": \"boolean\"\n          },\n          \"chronicHealthCondition\": {\n            \"type\": \"boolean\"\n          },\n          \"developmental\": {\n            \"type\": \"boolean\"\n          },\n          \"drugAbuse\": {\n            \"type\": \"boolean\"\n          },\n          \"mentalHealthProblem\": {\n            \"type\": \"boolean\"\n          },\n          \"chronicallyHomeless\": {\n            \"type\": \"string\"\n          },\n          \"race\": {\n            \"type\": \"string\"\n          },\n          \"ethnicity\": {\n            \"type\": \"string\"\n          },\n          \"veteranStatus\": {\n            \"type\": \"string\"\n          },\n          \"housingStatus\": {\n            \"type\": \"string\"\n          },\n          \"monthsHomelessPastThreeYears\": {\n            \"type\": \"string\"\n          },\n          \"residencePrior\": {\n            \"type\": \"string\"\n          },\n          \"links\": {\n            \"type\": \"array\",\n            \"items\": {}\n          }\n        },\n        \"required\": [\n          \"links\"\n        ]\n      }\n    },\n    \"page\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"size\": {\n          \"type\": \"integer\"\n        },\n        \"totalElements\": {\n          \"type\": \"integer\"\n        },\n        \"totalPages\": {\n          \"type\": \"integer\"\n        },\n        \"number\": {\n          \"type\": \"integer\"\n        }\n      },\n      \"required\": [\n        \"size\",\n        \"totalElements\",\n        \"totalPages\",\n        \"number\"\n      ]\n    }\n  },\n  \"required\": [\n    \"links\",\n    \"content\",\n    \"page\"\n  ]\n}\n"
                }
              }
            }
          }
        },
        "description": "To retrive eligibility requirements of a project.\n",
        "operationId": "GET_projects-projectid-eligibilityrequirements",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "description": "Number of records in response.",
            "schema": {
              "default": 30,
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "projectid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/projects/{projectid}/eligibilityrequirements/{requirementid}": {
      "put": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "description": "To update existing eligibility requirment\n",
        "operationId": "PUT_projects-projectid-eligibilityrequirements-requirementid",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "requirements": [
                  {
                    "name": "servesSingles",
                    "value": " != true"
                  },
                  {
                    "name": "servesHouseholdWithChildren",
                    "value": " == false"
                  },
                  {
                    "name": "incomeRequirement",
                    "value": " > 9 & < 20"
                  },
                  {
                    "name": "gender",
                    "value": " == 1 or == 3 "
                  },
                  {
                    "name": "income",
                    "value": " > 10 || < 50"
                  },
                  {
                    "name": "zipCode",
                    "value": " == 50050 and == 50532"
                  },
                  {
                    "name": "monthsHomelessPastThreeYears",
                    "value": " ( == 3 || == 4) && ( > 5 )"
                  },
                  {
                    "name": "type",
                    "value": " == \"sick\""
                  }
                ]
              },
              "schema": {
                "$ref": "#/components/schemas/{\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"requirements\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\"\n          },\n          \"value\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"name\",\n          \"value\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"requirements\"\n  ]\n}\n"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": ""
          }
        },
        "description": "To delete an eligibility requirement.\n",
        "operationId": "DELETE_projects-projectid-eligibilityrequirements-requirementid"
      },
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "eligibilityRequirementId": "0effc53e-cd9a-48b1-af22-e90b7d860e77",
                  "projectId": "893ecb78-84be-11e6-ae22-56b6b6499611",
                  "requirements": [
                    {
                      "name": "servesSingles",
                      "value": " != true"
                    },
                    {
                      "name": "servesHouseholdWithChildren",
                      "value": " == false"
                    },
                    {
                      "name": "incomeRequirement",
                      "value": " > 9 & <20"
                    },
                    {
                      "name": "gender",
                      "value": "== 1 or == 3 "
                    },
                    {
                      "name": "income",
                      "value": " >10 || < 50"
                    },
                    {
                      "name": "zipCode",
                      "value": "= 50050 and = 50532"
                    },
                    {
                      "name": "monthsHomelessPastThreeYears",
                      "value": " ( == 3 || ==4) && ( > 5 )"
                    },
                    {
                      "name": "type",
                      "value": " == \"sick\""
                    }
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/{\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"type\": \"object\",\n    \"properties\": {\n      \"eligibilityRequirementId\": {\n        \"type\": \"string\"\n      },\n      \"type\": {\n        \"type\": \"string\"\n      },\n      \"gender\": {\n        \"type\": \"string\"\n      },\n      \"servesSingles\": {\n        \"type\": \"boolean\"\n      },\n      \"servesHouseholdWithChildren\": {\n        \"type\": \"boolean\"\n      },\n      \"minAge\": {\n        \"type\": \"integer\"\n      },\n      \"maxAge\": {\n        \"type\": \"integer\"\n      },\n      \"incomeRequirement\": {\n        \"type\": \"boolean\"\n      },\n      \"minimumIncome\": {\n        \"type\": \"integer\"\n      },\n      \"maximumIncome\": {\n        \"type\": \"integer\"\n      },\n      \"zipCode\": {\n        \"type\": \"string\"\n      },\n      \"disability\": {\n        \"type\": \"string\"\n      },\n      \"alcoholAbuse\": {\n        \"type\": \"boolean\"\n      },\n      \"bothAlcoholAndDrugAbuse\": {\n        \"type\": \"boolean\"\n      },\n      \"chronicHealthCondition\": {\n        \"type\": \"boolean\"\n      },\n      \"developmental\": {\n        \"type\": \"boolean\"\n      },\n      \"drugAbuse\": {\n        \"type\": \"boolean\"\n      },\n      \"mentalHealthProblem\": {\n        \"type\": \"boolean\"\n      },\n      \"chronicallyHomeless\": {\n        \"type\": \"string\"\n      },\n      \"race\": {\n        \"type\": \"string\"\n      },\n      \"ethnicity\": {\n        \"type\": \"string\"\n      },\n      \"veteranStatus\": {\n        \"type\": \"string\"\n      },\n      \"housingStatus\": {\n        \"type\": \"string\"\n      },\n      \"monthsHomelessPastThreeYears\": {\n        \"type\": \"string\"\n      },\n      \"residencePrior\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\n      \"eligibilityRequirementId\"\n    ]\n  }\n"
                }
              }
            }
          }
        },
        "description": "To get selected eligibility requirement.\n",
        "operationId": "GET_projects-projectid-eligibilityrequirements-requirementid"
      },
      "parameters": [
        {
          "name": "requirementid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "projectid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "housing_inventory": {
        "type": "array",
        "items": {
          "required": [
            "inactive",
            "housingInventoryId",
            "bedsCurrent",
            "projectId",
            "userId",
            "bedsCapacity",
            "familyUnit",
            "inService",
            "vacant",
            "aliasName"
          ],
          "type": "object",
          "properties": {
            "inactive": {
              "type": "boolean"
            },
            "housingInventoryId": {
              "type": "string"
            },
            "bedsCurrent": {
              "type": "integer"
            },
            "projectId": {
              "type": "string"
            },
            "userId": {
              "type": "string"
            },
            "bedsCapacity": {
              "type": "integer"
            },
            "familyUnit": {
              "type": "boolean"
            },
            "inService": {
              "type": "boolean"
            },
            "vacant": {
              "type": "boolean"
            },
            "aliasName": {
              "type": "string"
            }
          }
        }
      },
      "housing_inventories": {
        "required": [
          "links",
          "content",
          "page"
        ],
        "type": "object",
        "properties": {
          "links": {
            "type": "array",
            "items": {
              "required": [
                "rel",
                "href"
              ],
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string"
                },
                "href": {
                  "type": "string"
                }
              }
            }
          },
          "content": {
            "type": "array",
            "items": {
              "required": [
                "inactive",
                "housingInventoryId",
                "bedsCurrent",
                "projectId",
                "userId",
                "bedsCapacity",
                "familyUnit",
                "inService",
                "vacant",
                "links"
              ],
              "type": "object",
              "properties": {
                "inactive": {
                  "type": "boolean"
                },
                "housingInventoryId": {
                  "type": "string"
                },
                "bedsCurrent": {
                  "type": "integer"
                },
                "projectId": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "bedsCapacity": {
                  "type": "integer"
                },
                "familyUnit": {
                  "type": "boolean"
                },
                "inService": {
                  "type": "boolean"
                },
                "vacant": {
                  "type": "boolean"
                },
                "aliasName": {
                  "type": "string"
                },
                "links": {
                  "type": "array",
                  "items": {
                    "required": [
                      "rel",
                      "href"
                    ],
                    "type": "object",
                    "properties": {
                      "rel": {
                        "type": "string"
                      },
                      "href": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "page": {
            "required": [
              "size",
              "totalElements",
              "totalPages",
              "number"
            ],
            "type": "object",
            "properties": {
              "size": {
                "type": "integer"
              },
              "totalElements": {
                "type": "integer"
              },
              "totalPages": {
                "type": "integer"
              },
              "number": {
                "type": "integer"
              }
            }
          }
        }
      },
      "address": {
        "required": [
          "dateCreated",
          "dateUpdated",
          "inactive",
          "addressId",
          "line1",
          "line2",
          "state",
          "city",
          "zipCode",
          "housingInventoryId"
        ],
        "type": "object",
        "properties": {
          "dateCreated": {
            "type": "string"
          },
          "dateUpdated": {
            "type": "string"
          },
          "inactive": {
            "type": "boolean"
          },
          "addressId": {
            "type": "string"
          },
          "line1": {
            "type": "string"
          },
          "line2": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "zipCode": {
            "type": "integer"
          },
          "housingInventoryId": {
            "type": "string"
          }
        }
      }
    },
    "responses": {},
    "parameters": {},
    "examples": {},
    "requestBodies": {},
    "headers": {},
    "securitySchemes": {
      "oauth_2_0": {
        "description": "The HMIS API supports OAuth 2.0 for authenticating all API requests.\n",
        "type": "oauth2",
        "flows": {
          "password": {
            "tokenUrl": "https://hmislynk.com/hmis-authorization-service/rest/token",
            "scopes": {
              "user": "",
              "administrator": ""
            }
          }
        }
      }
    },
    "links": {},
    "callbacks": {}
  }
}
