#%RAML 1.0
title: Housing Inventory
version: 2.0.0
baseUri: https://www.hmislynk.com/housinginventory/rest/v2
mediaType: application/json
protocols:
  - HTTPS
securedBy: [oauth_2_0]
securitySchemes:
  oauth_2_0: !include security-schemes/oauth_2_0.raml

types:
  housing_inventory: !include housing_inventory.json
  housing_inventories: !include housing_inventories.json
  address: !include address.json

/housing-units:
  get:
   description: gets housing units
   queryParameters:
      userId:
        description: Filter the list of housing units by userId.
        type: string
        required: false
        example: "1234"
      projectId:
        description: Filter the list of housing units by projectId.
        type: string
        required: false
        example: "1234"
      vacant:
        description: Filter the list of housing units by vacant status.
        type: boolean
        required: false
        example: true
      inactive:
        description: Filter the list of housing units by inactive status.
        type: boolean
        required: false
        example: true
      size:
        description: Number of records in response.
        type: integer
        required: false
        default: 30
      page:
        description: Page number
        type: integer
        required: false
        default: 0
   responses:
      200:
        body:
          application/json:
             schema: |
                          {
                                 "$schema":"http://json-schema.org/draft-04/schema#",
                                 "type":"object",
                                 "properties":{
                                    "links":{
                                       "type":"array",
                                       "items":{
                                          "type":"object",
                                          "properties":{
                                             "rel":{
                                                "type":"string"
                                             },
                                             "href":{
                                                "type":"string"
                                             }
                                          },
                                          "required":[
                                             "rel",
                                             "href"
                                          ]
                                       }
                                    },
                                    "content":{
                                       "type":"array",
                                       "items":{
                                          "type":"object",
                                          "properties":{
                                             "inactive":{
                                                "type":"boolean"
                                             },
                                             "housingInventoryId":{
                                                "type":"string"
                                             },
                                             "bedsCurrent":{
                                                "type":"integer"
                                             },
                                             "projectId":{
                                                "type":"string"
                                             },
                                             "userId":{
                                                "type":"string"
                                             },
                                             "bedsCapacity":{
                                                "type":"integer"
                                             },
                                             "familyUnit":{
                                                "type":"boolean"
                                             },
                                             "inService":{
                                                "type":"boolean"
                                             },
                                             "vacant":{
                                                "type":"boolean"
                                             },
                                             "aliasName":{
                                                "type":"string"
                                             },
                                             "project":{
                                                "id":"project",
                                                "type":"object",
                                                "properties":{
                                                   "projectName":{
                                                      "id":"projectName",
                                                      "type":"string"
                                                   },
                                                   "projectcommonName":{
                                                      "id":"projectCommonName",
                                                      "type":"string"
                                                   },
                                                   "id":{
                                                      "id":"id",
                                                      "type":"string"
                                                   },
                                                   "schemaYear":{
                                                      "id":"schemaYear",
                                                      "type":"string"
                                                   }
                                                },
                                                "required":[
                                                   "projectName",
                                                   "projectCommonName",
                                                   "id",
                                                   "schemaYear"
                                                ]
                                             },
                                             "links":{
                                                "type":"array",
                                                "items":{
                                                   "type":"object",
                                                   "properties":{
                                                      "rel":{
                                                         "type":"string"
                                                      },
                                                      "href":{
                                                         "type":"string"
                                                      }
                                                   },
                                                   "required":[
                                                      "rel",
                                                      "href"
                                                   ]
                                                }
                                             }
                                          },
                                          "required":[
                                             "inactive",
                                             "housingInventoryId",
                                             "bedsCurrent",
                                             "projectId",
                                             "userId",
                                             "bedsCapacity",
                                             "familyUnit",
                                             "inService",
                                             "vacant",
                                             "links"
                                          ]
                                       }
                                    },
                                    "page":{
                                       "type":"object",
                                       "properties":{
                                          "size":{
                                             "type":"integer"
                                          },
                                          "totalElements":{
                                             "type":"integer"
                                          },
                                          "totalPages":{
                                             "type":"integer"
                                          },
                                          "number":{
                                             "type":"integer"
                                          }
                                       },
                                       "required":[
                                          "size",
                                          "totalElements",
                                          "totalPages",
                                          "number"
                                       ]
                                    }
                                 },
                                 "required":[
                                    "links",
                                    "content",
                                    "page"
                                 ]
                              }
             example: |
                    {
                       "links":[
                          {
                             "rel":"first",
                             "href":"https://www.hmislynk.com/inventory-api/rest/housing-units/?page=0&size=2"
                          },
                          {
                             "rel":"self",
                             "href":"https://www.hmislynk.com/inventory-api/rest/housing-units/?page=0&size=2"
                          },
                          {
                             "rel":"next",
                             "href":"https://www.hmislynk.com/inventory-api/rest/housing-units/?page=1&size=2"
                          },
                          {
                             "rel":"last",
                             "href":"https://www.hmislynk.com/inventory-api/rest/housing-units/?page=20&size=2"
                          }
                       ],
                       "content":[
                          {
                             "inactive":false,
                             "housingInventoryId":"7a428e4e-d682-43ef-b2c7-383340ceb84e",
                             "bedsCurrent":5,
                             "projectId":"3189abda-32bd-4330-8839-8c6f723f1e73",
                             "userId":"shubas",
                             "bedsCapacity":6,
                             "familyUnit":false,
                             "inService":false,
                             "vacant":false,
                             "aliasName":"Test Name",
                              "project":{
                                  "id":"3189abda-32bd-4330-8839-8c6f723f1e73",
                                 "projectCommonName":"READ_TEST_PROJECT",
                                  "projectName":"READ_TEST_PROJECT",
                                  "schemaYear":"2014"
                            },

                             "links":[
                              {
                                 "rel":"project",
                                 "href":"/hmis-clientapi/rest/v2014/projects/3189abda-32bd-4330-8839-8c6f723f1e73"
                              }
                             ]
                          },
                          {
                             "inactive":false,
                             "housingInventoryId":"0144dd7c-a2df-4dec-8f57-a7afe45336c4",
                             "bedsCurrent":8,
                             "projectId":"3189abda-32bd-4330-8839-8c6f723f1e73",
                             "userId":"shubas",
                             "bedsCapacity":6,
                             "familyUnit":false,
                             "inService":false,
                             "vacant":false,
                             "project":{
                                  "id":"3189abda-32bd-4330-8839-8c6f723f1e73",
                                 "projectCommonName":"READ_TEST_PROJECT",
                                  "projectName":"READ_TEST_PROJECT",
                                  "schemaYear":"2014"
                            },

                             "links":[
                              {
                                 "rel":"project",
                                 "href":"/hmis-clientapi/rest/v2014/projects/3189abda-32bd-4330-8839-8c6f723f1e73"
                              }
                             ]
                          }
                       ],
                       "page":{
                          "size":2,
                          "totalElements":42,
                          "totalPages":21,
                          "number":0
                       }
                    }
      500:
        body:
          application/json:
            example: |
              {
                "errorMessage": "no housing inventory related to project id."
              }
      401:
           body:
            application/json:
             example: |
              {
                "message":" Unauthorized"
              }
  /{housing_unit_uuid}:
   description: housing inventory services for get,deactivate and delete.
   displayName: retrieve
   get:
    description: retrieves inventory  details.
    responses:
      200:
        body:
          application/json:
            schema: |
                    {
                    "$schema": "http://json-schema.org/draft-04/schema#",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                          "inactive": {
                            "type": "boolean"
                          },
                          "housingInventoryId": {
                            "type": "string"
                          },
                          "bedsCurrent": {
                            "type": "integer"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "bedsCapacity": {
                            "type": "integer"
                          },
                          "familyUnit": {
                            "type": "boolean"
                          },
                          "inService": {
                            "type": "boolean"
                          },
                          "vacant": {
                            "type": "boolean"
                          },
                          "aliasName":{
                            "type":"string"
                          },
                          "project":{
                            "id":"project",
                            "type":"object",
                            "properties":{
                                "projectName":{
                                   "id":"projectName",
                                   "type":"string"
                                },
                                "projectcommonName":{
                                   "id":"projectCommonName",
                                   "type":"string"
                                },
                                "id":{
                                   "id":"id",
                                   "type":"string"
                                },
                                "schemaYear":{
                                   "id":"schemaYear",
                                   "type":"string"
                                }
                             }
                          }
                        },
                        "required": [
                          "inactive",
                          "housingInventoryId",
                          "bedsCurrent",
                          "projectId",
                          "userId",
                          "bedsCapacity",
                          "familyUnit",
                          "inService",
                          "vacant",
                          "aliasName"
                        ]
                      }
                    }

            example: |
                      [{
                           "dateCreated":"09-28-2016 09:43:38.317",
                           "dateUpdated":"09-28-2016 09:43:38.317",
                           "projectGroupCode":"PG0001",
                           "inactive":false,
                           "housingInventoryId":"620ef25c-c9db-41fd-b799-fc3691f0d3b4",
                           "bedsCurrent":2,
                           "projectId":"3189abda-32bd-4330-8839-8c6f723f1e73",
                           "userId":"620ef25c-c9db-41fd-b799-fc3691f0d3b4",
                           "bedsCapacity":5,
                           "familyUnit":false,
                           "inService":false,
                           "vacant":false,
                           "aliasName":"test name",
                           "schemaYear":2014,
                           "project":{
                              "id":"3189abda-32bd-4330-8839-8c6f723f1e73",
                              "projectcommonname":"READ_TEST_PROJECT",
                              "projectname":"READ_TEST_PROJECT",
                              "schemaYear":"2014"
                            },
                           "links":[
                              {
                                 "rel":"project",
                                 "href":"/hmis-clientapi/rest/v2014/projects/3189abda-32bd-4330-8839-8c6f723f1e73"
                              }
                           ]
                        }]
      500:
        body:
          application/json:
            example: |
              {
                "errorMessage": "Housing unit not found."
              }
      401:
           body:
            application/json:
             example: |
              {
                "message":" Unauthorized"
              }
/projects:
  /{projectid}:
    /eligibilityrequirements:
      post:
        description: |
                    To create an eligibility requirment.
                    The following operators can be used for "value" field.
                      1) Relational operators : equal (==, =), not equal (!=), less than (<), less than or equal (<= ), greater than (>), and greater than or equal (>=).
                      2) Logical operators : and (&&,&), or(||).
        body:
          application/json:
              type: |
                    {
                      "$schema": "http://json-schema.org/draft-04/schema#",
                      "type": "object",
                      "properties": {
                        "servesSingles": {
                          "type": "boolean"
                        },
                        "servesHouseholdWithChildren": {
                          "type": "boolean"
                        },
                        "incomeRequirement": {
                          "type": "boolean"
                        },
                        "alcoholAbuse": {
                          "type": "boolean"
                        },
                        "bothAlcoholAndDrugAbuse": {
                          "type": "boolean"
                        },
                        "chronicHealthCondition": {
                          "type": "boolean"
                        },
                        "developmental": {
                          "type": "boolean"
                        },
                        "drugAbuse": {
                          "type": "boolean"
                        },
                        "mentalHealthProblem": {
                          "type": "boolean"
                        },
                        "type": {
                          "type": "string"
                        },
                        "gender": {
                          "type": "integer"
                        },
                        "minAge": {
                          "type": "integer"
                        },
                        "maxAge": {
                          "type": "integer"
                        },
                        "minimumIncome": {
                          "type": "integer"
                        },
                        "maximumIncome": {
                          "type": "integer"
                        },
                        "zipCode": {
                          "type": "string"
                        },
                        "disability": {
                          "type": "string"
                        },
                        "chronicallyHomeless": {
                          "type": "string"
                        },
                        "race": {
                          "type": "string"
                        },
                        "ethnicity": {
                          "type": "string"
                        },
                        "veteranStatus": {
                          "type": "string"
                        },
                        "housingStatus": {
                          "type": "string"
                        },
                        "monthsHomelessPastThreeYears": {
                          "type": "string"
                        },
                        "residencePrior": {
                          "type": "string"
                        }
                      }
                    }
              example:  |
                   {
                        "requirements": [
                          {
                            "name": "servesSingles",
                            "value": " != true"
                          },
                          {
                            "name": "servesHouseholdWithChildren",
                            "value": " == false"
                          },
                          {
                            "name": "incomeRequirement",
                            "value": " > 9 & <20"
                          },
                          {
                            "name": "gender",
                            "value": "== 1 || == 3 "
                          },
                          {
                            "name": "income",
                            "value": " >10 || < 50"
                          },
                          {
                            "name": "zipCode",
                            "value": "= 50050 && = 50532"
                          },
                          {
                            "name": "type",
                            "value": " == \"sick\""
                          },
                          {
                            "name": "monthsHomelessPastThreeYears",
                            "value": " ( == 3 || ==4) && ( > 5 )"
                          },
                          {
                            "name": "residencePrior",
                            "value": "==1"
                          }
                        ]
                   }
        responses:
            200:
                body:
                    application/json:
                      type: |
                          {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                              "requirements": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "value"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "requirements"
                            ]
                          }
                      example: |
                              {
                                 "eligibilityRequirementId":"f580935c-01e0-4d51-9b8d-7590bf204058",
                                "requirements": [
                                  {
                                    "name": "servesSingles",
                                    "value": " != true"
                                  },
                                  {
                                    "name": "servesHouseholdWithChildren",
                                    "value": " == false"
                                  },
                                  {
                                    "name": "incomeRequirement",
                                    "value": " > 9 & <20"
                                  },
                                  {
                                    "name": "gender",
                                    "value": "== 1 || == 3 "
                                  },
                                  {
                                    "name": "income",
                                    "value": " >10 || < 50"
                                  },
                                  {
                                    "name": "zipCode",
                                    "value": "= 50050 && = 50532"
                                  },
                                  {
                                    "name": "monthsHomelessPastThreeYears",
                                    "value": " ( == 3 || ==4) && ( > 5 )"
                                  },
                                  {
                                    "name": "type",
                                    "value": " == \"sick\""
                                  }
                                ]
                                      }

            400:
                body:
                    application/json:
                      type: |
                          {
                            "$schema": "http://json-schema.org/draft-04/schema#",
                            "type": "object",
                            "properties": {
                              "error": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "message": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "message"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "error"
                            ]
                          }
                      example: |
                          {"error":[{"message":"Minimum Income must be greater than or equal to 0"},{"message":"Maximum Age must be greater than 0"}]}
      get:
        description: |
              To retrive eligibility requirements of a project.
        queryParameters:
         size:
            description: Number of records in response.
            type: integer
            required: false
            default: 30
         page:
            description: Page number
            type: integer
            required: false
            default: 0
        responses:
          200:
            body:
              application/json:
                  type: |
                        {
                          "$schema": "http://json-schema.org/draft-04/schema#",
                          "type": "object",
                          "properties": {
                            "links": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "rel": {
                                    "type": "string"
                                  },
                                  "href": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "rel",
                                  "href"
                                ]
                              }
                            },
                            "content": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "gender": {
                                    "type": "string"
                                  },
                                  "servesSingles": {
                                    "type": "boolean"
                                  },
                                  "servesHouseholdWithChildren": {
                                    "type": "boolean"
                                  },
                                  "minAge": {
                                    "type": "integer"
                                  },
                                  "maxAge": {
                                    "type": "integer"
                                  },
                                  "incomeRequirement": {
                                    "type": "boolean"
                                  },
                                  "minimumIncome": {
                                    "type": "integer"
                                  },
                                  "maximumIncome": {
                                    "type": "integer"
                                  },
                                  "zipCode": {
                                    "type": "string"
                                  },
                                  "disability": {
                                    "type": "string"
                                  },
                                  "alcoholAbuse": {
                                    "type": "boolean"
                                  },
                                  "bothAlcoholAndDrugAbuse": {
                                    "type": "boolean"
                                  },
                                  "chronicHealthCondition": {
                                    "type": "boolean"
                                  },
                                  "developmental": {
                                    "type": "boolean"
                                  },
                                  "drugAbuse": {
                                    "type": "boolean"
                                  },
                                  "mentalHealthProblem": {
                                    "type": "boolean"
                                  },
                                  "chronicallyHomeless": {
                                    "type": "string"
                                  },
                                  "race": {
                                    "type": "string"
                                  },
                                  "ethnicity": {
                                    "type": "string"
                                  },
                                  "veteranStatus": {
                                    "type": "string"
                                  },
                                  "housingStatus": {
                                    "type": "string"
                                  },
                                  "monthsHomelessPastThreeYears": {
                                    "type": "string"
                                  },
                                  "residencePrior": {
                                    "type": "string"
                                  },
                                  "links": {
                                    "type": "array",
                                    "items": {}
                                  }
                                },
                                "required": [
                                  "links"
                                ]
                              }
                            },
                            "page": {
                              "type": "object",
                              "properties": {
                                "size": {
                                  "type": "integer"
                                },
                                "totalElements": {
                                  "type": "integer"
                                },
                                "totalPages": {
                                  "type": "integer"
                                },
                                "number": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "size",
                                "totalElements",
                                "totalPages",
                                "number"
                              ]
                            }
                          },
                          "required": [
                            "links",
                            "content",
                            "page"
                          ]
                        }
                  example: |
                      {
                         "links":[
                            {
                               "rel":"self",
                               "href":"http://localhost:8080/inventory-api/projects/893ecb78-84be-11e6-ae22-56b6b6499611/eligibilityrequirements"
                            }
                         ],
                         "content":[
                            {
                               "eligibilityRequirementId":"0effc53e-cd9a-48b1-af22-e90b7d860e77",
                               "projectId":"893ecb78-84be-11e6-ae22-56b6b6499611",
                               "requirements":[
                                  {
                                     "name":"servesSingles",
                                     "value":" != true"
                                  },
                                  {
                                     "name":"servesHouseholdWithChildren",
                                     "value":" == false"
                                  },
                                  {
                                     "name":"incomeRequirement",
                                     "value":" > 9 & <20"
                                  },
                                  {
                                     "name":"gender",
                                     "value":"== 1 or == 3 "
                                  },
                                  {
                                     "name":"income",
                                     "value":" >10 || < 50"
                                  },
                                  {
                                     "name":"zipCode",
                                     "value":"= 50050 and = 50532"
                                  },
                                  {
                                     "name":"monthsHomelessPastThreeYears",
                                     "value":" ( == 3 || ==4) && ( > 5 )"
                                  },
                                  {
                                     "name":"type",
                                     "value":" == \"sick\""
                                  }
                               ],
                               "links":[

                               ]
                            }
                         ],
                         "page":{
                            "size":20,
                            "totalElements":1,
                            "totalPages":1,
                            "number":0
                         }
                      }

      /{requirementid}:
        put:
          description: |
                To update existing eligibility requirment
          body:
            application/json:
              example: |
                      {
                         "requirements":[
                            {
                               "name":"servesSingles",
                               "value":" != true"
                            },
                            {
                               "name":"servesHouseholdWithChildren",
                               "value":" == false"
                            },
                            {
                               "name":"incomeRequirement",
                               "value":" > 9 & < 20"
                            },
                            {
                               "name":"gender",
                               "value":" == 1 or == 3 "
                            },
                            {
                               "name":"income",
                               "value":" > 10 || < 50"
                            },
                            {
                               "name":"zipCode",
                               "value":" == 50050 and == 50532"
                            },
                            {
                               "name":"monthsHomelessPastThreeYears",
                               "value":" ( == 3 || == 4) && ( > 5 )"
                            },
                            {
                               "name":"type",
                               "value":" == \"sick\""
                            }
                         ]
                      }
              type: |
                      {
                        "$schema": "http://json-schema.org/draft-04/schema#",
                        "type": "object",
                        "properties": {
                          "requirements": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name",
                                "value"
                              ]
                            }
                          }
                        },
                        "required": [
                          "requirements"
                        ]
                      }
          responses:
            200:
        delete:
          description: |
              To delete an eligibility requirement.
          responses:
            200:
        get:
          description: |
                  To get selected eligibility requirement.
          responses:
            200:
              body:
                application/json:
                  example: |
                              {
                                 "eligibilityRequirementId":"0effc53e-cd9a-48b1-af22-e90b7d860e77",
                                 "projectId":"893ecb78-84be-11e6-ae22-56b6b6499611",
                                 "requirements":[
                                    {
                                       "name":"servesSingles",
                                       "value":" != true"
                                    },
                                    {
                                       "name":"servesHouseholdWithChildren",
                                       "value":" == false"
                                    },
                                    {
                                       "name":"incomeRequirement",
                                       "value":" > 9 & <20"
                                    },
                                    {
                                       "name":"gender",
                                       "value":"== 1 or == 3 "
                                    },
                                    {
                                       "name":"income",
                                       "value":" >10 || < 50"
                                    },
                                    {
                                       "name":"zipCode",
                                       "value":"= 50050 and = 50532"
                                    },
                                    {
                                       "name":"monthsHomelessPastThreeYears",
                                       "value":" ( == 3 || ==4) && ( > 5 )"
                                    },
                                    {
                                       "name":"type",
                                       "value":" == \"sick\""
                                    }
                                 ]
                                 }

                  type: |
                    {
                        "$schema": "http://json-schema.org/draft-04/schema#",
                        "type": "object",
                        "properties": {
                          "eligibilityRequirementId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "servesSingles": {
                            "type": "boolean"
                          },
                          "servesHouseholdWithChildren": {
                            "type": "boolean"
                          },
                          "minAge": {
                            "type": "integer"
                          },
                          "maxAge": {
                            "type": "integer"
                          },
                          "incomeRequirement": {
                            "type": "boolean"
                          },
                          "minimumIncome": {
                            "type": "integer"
                          },
                          "maximumIncome": {
                            "type": "integer"
                          },
                          "zipCode": {
                            "type": "string"
                          },
                          "disability": {
                            "type": "string"
                          },
                          "alcoholAbuse": {
                            "type": "boolean"
                          },
                          "bothAlcoholAndDrugAbuse": {
                            "type": "boolean"
                          },
                          "chronicHealthCondition": {
                            "type": "boolean"
                          },
                          "developmental": {
                            "type": "boolean"
                          },
                          "drugAbuse": {
                            "type": "boolean"
                          },
                          "mentalHealthProblem": {
                            "type": "boolean"
                          },
                          "chronicallyHomeless": {
                            "type": "string"
                          },
                          "race": {
                            "type": "string"
                          },
                          "ethnicity": {
                            "type": "string"
                          },
                          "veteranStatus": {
                            "type": "string"
                          },
                          "housingStatus": {
                            "type": "string"
                          },
                          "monthsHomelessPastThreeYears": {
                            "type": "string"
                          },
                          "residencePrior": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "eligibilityRequirementId"
                        ]
                      }
